 @keyframes bouncers {
     0% {
         transform: rotateZ(0deg) scale(100%, 100%);
         transform-origin: bottom;
     }

     5% {
         transform: rotateZ(0.25deg) scale(80%, 120%);
         transform-origin: bottom;
     }

     12.5% {
         transform: rotateZ(-3deg) scale(100%, 100%);
         transform-origin: bottom;
     }

     25% {
         transform: rotateZ(-5deg) scale(120%, 80%);
         transform-origin: bottom;
     }

     50% {
         transform: rotateZ(0deg) scale(100%, 100%);
         transform-origin: bottom;
     }

     75% {
         transform: rotateZ(5deg) scale(120%, 80%);
         transform-origin: bottom;
     }

     87.5% {
         transform: rotateZ(3deg) scale(100%, 100%);
         transform-origin: bottom;
     }

     90% {
         transform: rotateZ(-0.25deg) scale(80%, 120%);
         transform-origin: bottom;
     }

     100% {
         transform: rotateZ(0deg) scale(100%, 100%);
         transform-origin: bottom;
     }
 }

 @keyframes fadeInGlass {
     0% {
         background-color: rgba(255, 255, 255, 0);
         backdrop-filter: blur(0px);
         box-shadow: 0 0rem 0rem rgba(0, 0, 0, 0);
     }

     100% {
         background-color: rgba(255, 255, 255, 0.5);
         backdrop-filter: blur(8px);
         box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
     }
 }

 @keyframes errorTextEnter {
     0% {
         transform: translateY(-100%);
     }

     30% {
         transform: translateY(0%);
     }


     70% {
         transform: translateY(0%);
     }

     100% {
         transform: translateY(100%);
     }
 }


 @keyframes fadeIn {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 @keyframes swipeIn {
     0% {

         height: 0em;
     }

     100% {

         height: 5em;
     }
 }


 @keyframes scaleIn {
     0% {

         scale: 0;
     }

     100% {

         scale: 1;
     }
 }

 @keyframes scaleInWidth {
     0% {
         transform: scale(0%, 0%);
     }

     100% {
         /*max-width: 23.5em;*/
         transform: scale(100%, 100%);
     }

 }